:root {
  --accent: #e0245e;
}

.favorite-length{
    min-width: 27px; 
    display: inline-flex;
}

.button-favorite{
    width: 35px;
    cursor: pointer;
    stroke: var(--accent);
}

.button-favorite-filled{
    fill: var(--accent);
}   

.card-title{
    text-transform: capitalize;
}